<label>Give it a name</label>
<input #name nz-input placeholder="Name" />

<label>Event Hub connection string</label>
<input #connectionString nz-input placeholder="Connection string" />

<label>Setup some mock data</label>
<mimic-definer
    [codeDefinition]="exampleMimic"
    (changeCodeDefinition)="codeDefinition = $event"
    (changeDefinition)="mimicDefinitions = $event">
</mimic-definer>

<button
    nz-button
    nzType="primary"
    (click)="add(name.value, connectionString.value)">
    Done
</button>
