<nz-code-editor
    [ngModel]="codeDefinition"
    [nzEditorOption]="editorOptions"
    [nzToolkit]="readonly"
    [nzLoading]="editorLoading"
    (nzEditorInitialized)="editorInit()"
    (ngModelChange)="defintionChange($event)">
</nz-code-editor>

<nz-code-editor
    *ngIf="showExample"
    #outputEditor
    [ngModel]="output$ | async"
    [nzEditorOption]="editorOptions"
    [nzToolkit]="readonly"
    [nzLoading]="editorLoading">
</nz-code-editor>

<ng-template #readonly>
    <i *ngIf="editorOptions.readOnly" nz-icon nzType="lock" nzTheme="fill"></i>
</ng-template>
